<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus amet consectetur consequatur, dignissimos dolores
    explicabo fugiat in, ipsam laboriosam molestias nesciunt perferendis perspiciatis porro quaerat quidem quis sint,
    soluta veniam.</p>
<div>{{=it.body}}</div>
{{~it.tags :value:index}}
<div>{{=value}}</div>
{{~}}
</body>
</html>